src/main/mule/mule1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ad012f59-c719-43e5-b235-0773327db3ee" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule1Flow" doc:id="f186880f-0f68-4cd4-9886-0b056ae6e330" >
		<http:listener doc:name="Listener" doc:id="c87c1191-b474-48e7-b836-84dcd3e3e731" config-ref="HTTP_Listener_config" path="/mule1"/>
		<ee:transform doc:name="Transform Message" doc:id="a5006cd0-df9c-462d-83a6-f9f87b5c47f1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Message":"This is my Mule-1 project"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="0b2483e5-91ce-49b3-81ea-b12830fa2f33" message="#[payload]"/>
	</flow>
</mule>
